<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Sorta System</title>
    <link rel="stylesheet" href="css/loginstyle.css">
</head>
<body>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
    <form>
        <h4> Bienvenido </h4>
        <input class="name" type="text" placeholder="Usuario" />
        <input class="pw" type="password" placeholder="Contraseña" />
        <li><a href="#"></a></li>
        <input class="button" type="submit" value="Iniciar Sesion" />
    </form>

    <div class="container body-content">
        @RenderBody()
    </div>
</body>
</html>
